@page "/Users/Add"
<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        Add User (@Reference)
      </div>
      <div class="card-body">
        @if (Errors.Count > 0)
        {
          @foreach (var error in Errors)
          {
            <div class="alert alert-danger" role="alert">
              @error
            </div>
          }
        }
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text">First and last name</span>
            <input @bind="@Firstname" type="text" aria-label="First name" class="form-control">
            <input @bind="@Lastname" type="text" aria-label="Last name" class="form-control">
          </div>
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input @bind="@Email" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input @bind="@Password" type="password" class="form-control" id="InputPassword">
          </div>
          <div class="mb-3">
            <label for="InputPasswordConfirm" class="form-label">Confirm Password</label>
            <input @bind="@ConfirmPassword" type="password" class="form-control" id="InputPasswordConfirm">
          </div>
          <div class="mb-3 form-check">
            <input @bind="@IsActive" type="checkbox" class="form-check-input" id="InputIsActive">
            <label class="form-check-label" for="InputIsActive">Active</label>
          </div>
          <button type="submit" class="btn btn-success btn-sm" @onclick="AddUser">Add User</button>
        </form>
      </div>
    </div>
</div>